[Unit]
Description=Salomao Linx auto sync timer (%i)

[Timer]
OnCalendar=hourly
Persistent=true
Unit=salomao-linx-auto-sync@%i.service

[Install]
WantedBy=timers.target
